.container__hero{
  display: flex;
  align-items: center;
  justify-content:center;
}

.hero{
    background-color: #A76CBF;
    width: 97%;
    height: 28vh;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.hero__h1{
  background: none;
  color: #D2F4E7;
  font-size: clamp(1rem, 10vw, 2.3rem); 
  letter-spacing: 1px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

.imgContainer{
  margin-right: 10px;
  width: 45%;
  background: none;
  margin-left: 5px;
}

.hero__img{
  width: 100% ;
  height: 24vh;
  border-radius: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
}