.card{
    display:flex;
    flex-direction:column;
    justify-content: center;
    max-width: 150px;
    height: 270px;
    background-color: #A76CBF;
    border-radius: 15px;
    margin-right: 15px;
    margin-bottom: 4rem;
}

.card__img{
    width:100%;
    height: 135px;
}

.imagecard{
  width:100% ;
  height: 100%;
  border-radius: 15px;
}
.card__data{
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  padding: 0px 5px;
}
.product__name{
  color: #D2F4E7;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 800;
  font-size: clamp(10px, 2.5vh, 15px);
  line-height: 16px;
  text-align: center;
}

.product__price{
  font-style: normal;
  font-weight: 400;
  font-size: clamp(10px, 2.5vh, 15px);
  line-height: 13px;
  text-align: center;
  font-weight: 300;
}

.plusMinus{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.plus{
    font-size: clamp(1.5rem, 2.5vh, 2.5rem);
    padding-left: 10px;
}
.minus{
    font-size: clamp(1.5rem, 2.5vh, 2.5rem);
    padding-right: 10px;
}
